
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; Down To Earth Food CoOp 2014</p>
                </div>
            </div>
        </div>