<div id="menu" class="container">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="#">Recipes</a></li>
        <li><a href="#">Archive</a></li>
        <% if(isLoggedIn){ %>
        	<li><a href="/profile">Profile</a></li>
        <% } else { %>
        	<li><a href="/login">Login</a></li>
        <% } %>
    </ul>
</div>
<!-- end #menu --> 

