<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= pageTitle %></title>

    <!-- Bootstrap Core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="stylesheets/business-casual.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <script type="text/javascript" src="javascripts/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="javascripts/jquery.sticky.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="javascripts/jScroll.js"></script>
    <script type="text/javascript" src="javascripts/jquery.dateformat.min.js"></script>

    <script>
        function format_time(d){
            var t = d
            var hours = t.getHours()
            var minutes = t.getMinutes()
            var ampm = hours >= 12 ? 'pm' : 'am'
            hours = hours % 12
            hours = hours ? hours : 12
            minutes = minutes < 10 ? '0'+minutes : minutes
            var strTime = hours + ':' + minutes + ' ' + ampm
            return strTime
        }

        $(document).ready(function(){
            $("#sticky-bar").sticky({topSpacing:0});

            var href = window.location.pathname
            var id = href.split('/').pop()

            var maxAttendees = 0

            
            $.get("/api/shifts/" + id,function(data){
                console.log(data)
                
                $("#shift-signup").attr('action','/api/shifts/' + id)
                    $.each(data.shifts,function(j,s){
                        console.log(s)
                        
                        var $shift = $('<option>',{id:j})
                        $shift.attr('value',s._id)
                        if (s.time !== undefined){
                            var start = new Date(s.time.startTime)
                            var end = new Date(s.time.endTime)
                            $shift.html(s.name + "  :  " + format_time(start) + " to " + format_time(end))
                            $shift.attr("class","time")
                        }
                        else{
                            $shift.html(s.name)
                            $shift.attr("class","role")
                        }
                        $('#shift-selector').append($shift)

                        var $row = $('<tr>')
                        $("#attendees").append($row)
                        $row.append($('<th>').attr("scope","row").html($shift.attr("class") == "time" ? j + 1 : s.name))
                        if (s.attendees.length == 0){
                            var $col = $('<td>')
                            $col.html("None")
                            $row.append($col)
                        }
                        $.each(s.attendees,function(index,attendee){
                            if (index > maxAttendees)
                                maxAttendees = index
                            var $col = $('<td>')
                            $col.html(attendee.name)
                            $row.append($col)
                        })
                    })
                $(' table tbody tr').find('td:last').attr("colspan",maxAttendees + 1)
            
            })

        })
    </script> 

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div class="brand">Down To Earth Food CoOp</div>
    <div class="address-bar">Newark, DE</div>

    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation" id="sticky-bar">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="/">Down To Earth</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/blog">Blog</a>
                    </li>
                    <li>
                        <a href="/gallery">Gallery</a>
                    </li>
                    <li>
                        <a href="/events">Events</a>
                    </li>
                    <li>
                        <a href="/recipes">Recipes</a>
                    </li>
                    <% if(isLoggedIn){ %>
                        <li><a href="/profile">Profile</a></li>
                    <% } else { %>
                        <li><a href="/login">Login</a></li>
                    <% } %>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <div id="menu-sep"></div>
    <div class="container">
        <div class="row">
            <div class="box">
            <div class="well">
            <form id="shift-signup" method="POST">
                <label>Select Shift</label>
                <select class="form-control" id="shift-selector" name="shift-selector" form="shift-signup" multiple>
                </select>
                <div class="row">
                <div class="col-md-6"><br><button class="btn btn-small btn-warning" type="submit">Sign Up</button></div>
                <div class="col-md-6">
                <h5 class="text-right"><small>Hold down the Ctrl (windows) / Command (Mac) button to select multiple options.</small></h5></div>
                </div></form><br>
                <div class="well">
                <label>Attendees</label>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Shift</th>
                        </tr>
                    </thead>
                    <tbody id="attendees">
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- /.container -->

    <footer><% include partials/footer %></footer>

</body>

</html>